h1 {
	color: #2253F5; 
	font-family: 'Boogaloo', serif;
	font-size: 36px;
}

body{
	background-image: url('http://faculty.washington.edu/jswan2/info343/wp-content/uploads/2014/07/texture-light.png')
}

#image1 {
	float: left;
}

h1, h2 {
	margin:0px;
	margin-left: 100px;
}

h2 {
	float: top;
	font-size: 22px;
}

h3 {
	color:white;
	background-color: red;
	border: 5px solid red;
	margin-top: 15px;
	border-radius: 10px;
	padding-left:10px;
}


#image2 {
	float: left;
	margin-right: 15px;
}

p {
	font-family: 'Open Sans'; 
	font-size:13px; 
	font-style: bold;
}

#menu {
	margin-right: 20px;
}

#whole {
	border: 5px solid white;
	background-color: white;
	padding: 10px;
	margin-left: 50px;
	margin-right: 50px;
}

#image3 {
	float:right;
}

.footer {
	font-size: 11px
}

.footer, h2 {
	font-style: italic;;
}

a {
	text-decoration: none;
	color:white;
	font-style: bold;
}

#email {
	color:blue;
}