body {
	font-family: sans-serif;
}
h1 {
	text-align: center;
	text-transform: uppercase;
}
ul{
	list-style-type: none;
	padding: 0px;
}
li {
	padding: 5px;
	text-align: center;
}
nav li{
	color: white;
	background-color: black;
	margin: 2px;
	font-size: 20px;
}
footer ul {
	background-color: lightGrey;
	margin-bottom: 0px;
	font-size: 0px;
}
footer li {
	display: inline-block;
	width: 33.3%;
	font-size: 16px;
	padding: 2% 0%;
}
img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	max-width: 70%;
	max-height: 30%;
	overflow: hidden;
}
section {
	padding: 5px;
	font-size: 1.2em;
}
section:first-of-type {
	font-size: 1.2em;
}

@media(min-width: 480px) {
	nav ul li {
		display: inline-block;
		min-width: 20%;
		font-size: 20px;
	}
	nav {
		text-align: center;
	}
	main {
		overflow: hidden;
	}
	#bottom section {
		max-width: 30%;
		vertical-align: top;
		font-size: 16px;
		margin: auto;
		display: inline-block;
	}
	#top, #bottom {
		text-align: center;
	}
	#bottom section p, #top p{
		text-align: left;
	}
	#top {
		margin-bottom: 7%;
	}
	#top img {
		margin-left: 2%;
	}
	img {
		max-height: 35%;
		float: left;
		margin-right: 15px;
	}
}